!!! 5
html(lang="en")
  head
    title NodeKC baseline
    link(rel='stylesheet', href='/css/app.css')

  body
    h1 NodeKC

    a(href='http://nodekc.org', title='Visit the NodeKC website.') Visit NodeKC