body
  font-family 'Helveteca Neue', arial, sans-serif
  color white

a
  color #8cc84b
  text-decoration none
  &:hover
    text-decoration underline

h1
  font-size 3em
  font-family verdana
  margin-top 2em
  margin-bottom 10px

ul.bulk_urls
  li
    float:left
    list-style-type:none
    margin:5px